/* GENERAL-CSS */

* ,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #E5E5E5;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}


.box{
    padding-top: 35px;
}

.checkbox{
    padding: 43px;
    margin: 0 auto;
    width: 510px;
    background-color: white;
}

.checkbox__heading{
    margin:  0 0 36px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    color:#000000;
}


form {
  display: flex;
  flex-direction: column;
}

.form__heading{
  font-size: 26px;
  line-height: 31px;
  font-weight: 600;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input:checked + .form__controller{
  background-size: 30px 31px;
  background-position: center;
  background-repeat: no-repeat;
}

label:nth-child(1) input:checked + .form__controller{
  background-image: url("../images/table-tennis-solid.svg");
}

label:nth-child(2) input:checked + .form__controller{
  background-image: url("../images/basketboll.svg");
}

label:nth-child(3) input:checked + .form__controller{
  background-image: url("../images/volleyball-ball-solid.svg");
}



label:nth-child(4){
  color: dimgray;
  opacity: 0.8;
}

label:nth-child(4) .form__controller{
  display: flex;
  justify-content: center;
  border: 1px solid dimgray;
}



.form__controller {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
}